/** Colores **/

$domingo-nublado: #cabea2;
$sensacion-diafana: #eceae7;
$bruma-tranquila: #ece5da;
$sabiduria-blanca: #e7e3df;
$beige-palido: #e6dfd6;
$beige-palido-oscuro: #ada190;
$espejismo-vigoroso: #ddd3c3;
$espejismo-vigoroso-oscuro: #afa799;
$negro: #000000;
$gris: #4d4c4c;
$blanco: #ffffff;


/** Tamaños **/

$telefono: 480px;
$tablet: 768px;
$laptop: 1140px;
$monitor: 1400px;